#gallery {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#gallery li {
  width: 33%;
}

#gallery img {
  width: 100%;
  height: 200px;
}

/* for Task 6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

body {
  background-color: #ffebcd;
}
